#forgot_pass_menu{
    padding: 35% 0% 35% 0%;
    height: 100%;
    label{width: 25%;height:50px;text-align: left;}
    input{width: 75%;height:50px}
    p{
        margin: 5%;
        font-size: 1.5em;
        color: white;
        text-align: center;
    }
    button{margin: 5%;}
}
.sign_menu{
    font-family:Merriweather Sans;
    
    .naglowek{
        font-size: 2em;
    }
    width: 100%;
    height:100%;
    padding: 0% 10% 0% 10%;
    label{
        text-align: left;
        color: white;
        font-size: 1.25em;
        width: 40%;
        height: 15%;
    }
    input{
        padding-left: 10px;
        border:3px solid gray;
        border-radius:25px ;
        font-size: 1em;
        width: 60%;
        height: 15%;
    }
    button{
        
        margin-top: 1%;
        color: white;
        background-color: #970202;
        border: 5px solid #5a0303;
        border-radius: 50px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family:Merriweather Sans;
        font-size: 1em;
        height: 15%;
        width: 25%;

        &:hover{
            cursor: pointer;
            background-color: rgba(77, 0, 0, 0.8);
        }
    }
}

