<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

 <div id="wrapper"></div>
  <div class="wklad">
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  </div>
  <!-- <div class="menu">
    <h1 [style.display]="welcome_disp" class="naglowek" >Casino Gods Online</h1>
    <div [style.display]="login_list_disp" *ngIf="login_menu" class="list">
      
      <div class="btn">
      <button id="btn1" (click)="signUp()"> Sign up</button>
      </div>
      <div class="btn">
      <button id="btn2"  (click)="signIn()"> Sign in</button>
      </div>
      <div class="btn">
      <button id="btn3"  (click)="guest()"> Play as a guest</button>
      </div>     
    </div>

    <div [style.display]="signup_list_disp" class="sign_menu" id="sign_up_menu">

      <h2 class="naglowek">Enter user data</h2>
      <div id="signup_window">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="Enter e-mail address" name="email" required>
        <label for="birth_date"><b>Date of birth</b></label>
        <input type="date" placeholder="DD-MM-YYYY" name="birth_date" required>
        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Enter password" name="psw" required>
        <label for="psw_conf"><b>Confirm password</b></label>
        <input type="text" placeholder="Confirm Password" name="psw_conf" required>
        <p [innerHTML]="error_info" id="info_paragraph"><strong>some error asdasdafqefa sdfqwqwdqw </strong></p>
        <button type="submit">Login</button>
        <p>Password has to:</p>
        <ul>
          <li>contain large letter</li>
          <li>contain small letter</li>
          <li>contain a number</li>
          <li>contain a special character</li>
          <li>be at least 8 characters long</li>
        </ul>  

      </div>

    </div>

    <div [style.display]="signin_list_disp" class="sign_menu" id="sign_in_menu">
 

      <h3 class="naglowek">Enter login credentials</h3>

      <div id="signin_window">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <div style="width: 100%;"><button type="submit">Login</button></div>
        
        <div style="width: 100%;"><button style="width: 75%;" (click)="forgot()">I forgot my password / username</button></div>
      </div>
    
    </div>

    <div [style.display]="forgot_pass_disp" class="sign_menu" id="forgot_pass_menu">
      <p>Type in your e-mail address</p>
     
      <input type="text" placeholder="Enter your e-mail address" name="recovery_mail" required>
      <div style="width: 100%;"><button type="submit">Submit</button></div>
    </div>
  </div> -->

 
</body>
</html>
