
<div class="return">
    <div class="BetNow"><button  (click)="SendBets()">Play Now</button></div>
    <div class="BetsTime"[style.background-color]="BetsbackgroundColor">{{CurrentBetInfo}}</div>
    <div class="returnButton"><button  (click)="Return()">Return</button></div>
</div>
<div class="Background">
    <div class="PastResults">
        <p>Past Results:</p>
        <p>{{PastResults}}</p>
    </div>
    <div class="Game">
       <div class="Dragon">
            <button (click)="AddBet(0)" (contextmenu)="SubstractBet(0,$event)">
                <div class="ChipButton">
                    <!-- <div class="Card" [style.backgroundImage]="cardImageEnabled[0] ? 'url(' + cardImageUrl + ')' : 'none'"></div> -->
                    <div class="Card" [style.backgroundImage]="cardImageEnabled[0] ? 'url(' + cardImageUrl[0] + ')' : 'none'"></div>
                    <div class="Chip" [style.backgroundImage]="chipImageEnabled[0] ? 'url(' + chipImageUrl + ')' : 'none'">{{CurrentBet[0]}}</div>
                </div>
                <p>Dragon</p>               
            </button>
        </div>
        <div class="Ties">
            <button id="btn1" (click)="AddBet(2)" (contextmenu)="SubstractBet(2,$event)">
                <p>Tie</p>
                <div class="TieChip"[style.backgroundImage]="chipImageEnabled[2] ? 'url(' + chipImageUrl + ')' : 'none'">{{CurrentBet[2]}}</div>
            </button>
            <button id="btn2" (click)="AddBet(3)" (contextmenu)="SubstractBet(3,$event)">
                <div class="SuitedTieChip"[style.backgroundImage]="chipImageEnabled[3] ? 'url(' + chipImageUrl + ')' : 'none'">{{CurrentBet[3]}}</div>
                <p>Suited Tie</p>
            </button>
        </div>
       <div class="Tiger">
            <button (click)="AddBet(1)" (contextmenu)="SubstractBet(1,$event)">
                <div class="ChipButton">
                    <div class="Chip" [style.backgroundImage]="chipImageEnabled[1] ? 'url(' + chipImageUrl + ')' : 'none'">{{CurrentBet[1]}}</div>
                    <div class="Card" [style.backgroundImage]="cardImageEnabled[1] ? 'url(' + cardImageUrl[1] + ')' : 'none'"></div>                    
                </div>
                <p>Tiger</p>
            </button>
        </div> 
    </div>
    <div class="PayoutInfo">Dragon and Tiger pay 1:1, Tie pays 11:1, Suited Tie pays 50:1</div>
    <div class="ChipsDisplay">
        <div class="Chips">
        <button [class.clicked]="IsClicked[0]" (click)="SwitchCoin(1,0)"><img src="'../../../../../assets/images/chip1_transparent.png" alt="Chip1 Button" /></button>
        <button [class.clicked]="IsClicked[1]" (click)="SwitchCoin(5,1)"><img src="'../../../../../assets/images/chip5_transparent.png" alt="Chip5 Button" /></button>
        <button [class.clicked]="IsClicked[2]" (click)="SwitchCoin(10,2)"><img src="'../../../../../assets/images/chip10_transparent.png" alt="Chip10 Button" /></button>
        <button [class.clicked]="IsClicked[3]" (click)="SwitchCoin(25,3)"><img src="'../../../../../assets/images/chip25_transparent.png" alt="Chip25 Button" /></button>
        <button [class.clicked]="IsClicked[4]" (click)="SwitchCoin(50,4)"><img src="'../../../../../assets/images/chip50_transparent.png" alt="Chip50 Button" /></button>
        <button [class.clicked]="IsClicked[5]" (click)="SwitchCoin(100,5)"><img src="'../../../../../assets/images/chip100_transparent.png" alt="Chip100 Button" /></button> 
        <button [class.clicked]="IsClicked[6]" (click)="SwitchCoin(500,6)"><img src="'../../../../../assets/images/chip500_transparent.png" alt="Chip500 Button" /></button>
        <button [class.clicked]="IsClicked[7]" (click)="SwitchCoin(1000,7)"><img src="'../../../../../assets/images/chip1000_transparent.png" alt="Chip1000 Button" /></button>
        </div>
        <div class="ManageChips">
        <p>Total Bet: {{TotalBet}}</p>
        <button (click)="Undo()">Undo</button>
        <button (click)="Repeat()">Repeat</button>
        <button (click)="Double()">Double</button>
        <p></p>
        </div>
    </div>
</div>