.sign_menu{
font-family:Merriweather Sans;
display: block;
width: 100%;
height:100%;
padding: 0% 10% 0% 10%;

label{
    text-align: left;
    color: white;
    font-size: 1.25em;
    width: 40%;
    height: 15%;
}
input{
    padding-left: 10px;
    border:3px solid gray;
    border-radius:25px ;
    font-size: 1em;
    width: 60%;
    height: 15%;
}
button{
    
    margin-top: 1%;
    color: white;
    background-color: #970202;
    border: 5px solid #5a0303;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family:Merriweather Sans;
    font-size: 1em;
    height: 15%;
    width: 25%;

    &:hover{
        cursor: pointer;
        background-color: rgba(77, 0, 0, 0.8);
    }
}
}

.naglowek{
    color:white;
    font-size: 2.5em;
    margin: 0% 0% 0% 0%;
    padding-top: 5%;
    height: 15%;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family:"Merriweather Sans";
    text-transform: uppercase;
    font-size: 2em;
}
#signup_window{
    padding: 5% 0% 5% 0%;
    height: 85%;
    label{width: 45%;height:9%;text-align: left;}
    input{width: 55%;height:9%}
    button{height: 10%;margin: 3%;}
    ul{text-align: left;color:white; font-size: 0.75em;padding-left: 5px;width: 50%;}
    p{text-align: left;color:white;margin: 0px;width: 50%;margin:0px;border: 0px;}
    #info_paragraph{
        margin: 1%;
        text-align: left;
        font-size: 1em;
        color:red;
        width: 100%;
    }

    
}
#form{

    height: 100%;
}

#psw{
    -webkit-text-security: disc;
-moz-text-security: disc;
text-security: disc;
}

#requirements{
    p{width: 50%;margin-right:0px;border: 0px;}

}