<div  class="sign_menu" id="sign_up_menu">

  <h2 class="naglowek">Enter user data</h2>
  <div id="signup_window">
    <form id="form" #form="ngForm" (ngSubmit)="addPlayer()">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="addPlayerRequest.username">
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="Enter e-mail address" name="email" required required [(ngModel)]="addPlayerRequest.email">
    <label for="birth_date"><b>Date of birth</b></label>
    <input type="date" placeholder="DD-MM-YYYY" name="birth_date" required>
    <label for="psw"><b>Password</b></label>
    <input type="text" placeholder="Enter password" name="psw" required required [(ngModel)]="addPlayerRequest.password">
    <label for="psw_conf"><b>Confirm password</b></label>
    <input type="text" placeholder="Confirm Password" name="psw_conf" required>
    <p  id="info_paragraph"><strong>some error asdasdafqefa sdfqwqwdqw </strong></p>
    <button type="submit">Submit</button>
    <p>Password has to:</p>
    <ul>
      <li>contain large letter</li>
      <li>contain small letter</li>
      <li>contain a number</li>
      <li>contain a special character</li>
      <li>be at least 8 characters long</li>
    </ul>  
    </form>
  </div>

</div>
