.menu{
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 550px;
    min-height: 600px;
    width: 600px;
    height: 700px;
    text-align: center;
    font-size: 18px;

}
.naglowek{
    color:white;
    font-size: 2.5em;
    margin: 0% 0% 0% 0%;
    padding-top: 5%;
    height: 15%;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family:"Merriweather Sans";
    text-transform: uppercase;
}
.list{
height: 85%;
//margin: 10% 20% 10% 20%;

padding: 5% 20% 5% 20%;
display: block;
align-items:center;
justify-content:center;
.btn{
    margin:0% 0% 0% 0%;
    width: 100%;
    height:33%;
    padding: 10% 0% 10% 0%;

}
button{
    font-size: 1.5em;
    list-style-type: none;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    min-width: 50%;

    background-color: #970202;
    border: 5px solid #5a0303;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family:Merriweather Sans;

    &:hover{
        cursor: pointer;
        background-color: rgba(77, 0, 0, 0.8);
    }
}
}