
<div class="menu">
    <div class="playerInfo">
      <p class="info">User: {{unameToDisplay}}</p>
      <p class="info">Bankroll: {{bankrollToDisplay}}</p>  
      <p class="info">Session profit: {{profitToDipslay}}</p>  
    </div>
    <p id="header">{{HeaderText}}</p>
    <div class="table_data1">
        <div class="table_data2">
            <button><img src="assets\images\leftarrow.png" (click)="left()" alt="leftarrow"></button>
            <p id="tableDataDisplay" *ngIf="GameChooseProcess">{{Currentgame}}</p>           
            <div id="tableDataDisplay" *ngIf="!GameChooseProcess">
                <h1 id="header2" >{{ CurrentTable }}</h1>   
                <p class="betsInfo">User: {{CurrentMinBet}}</p>
                <p class="betsInfo">Bankroll: {{CurrentMaxBet}}</p>  
            </div>
            <button><img src="assets\images\rightarrow.png" (click)="right()" alt="rightarrow"></button>
        </div>
        
        

    </div>
    <div class="btn">
        <button id="btn1" (click)="ChooseTable()">Choose </button>
    </div>
    
</div>