

.Background{
    background-image: url('../../../../../assets/images/roulette-transformed.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 10px; // Adjust the value to control the level of border rounding
    overflow: hidden;
  }
  .return {
    width: 95%;
    height: 5%;
    margin: 0% 2.5% 0% 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    text-align: left;
    text-decoration: none;
    font-family:Merriweather Sans;
    color: white;
    .returnButton 
    {
      padding-left: 50%;
      top: 0;
      right: 0;
      margin: 0;
      width: 100%;
    }
    .BetNow{
      padding-right: 50%;
      width: 100%;
      height: auto;
    }
    .BetsTime{
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      width: 100%;
      height: auto;
     // background-color: #DEC20B;
    }
    button
    {
      width:100%;
      height: 100%;
      background-color: #970202;
      border: 2px solid #5a0303;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-family:Merriweather Sans;
      color: white;
      &:hover{
        cursor: pointer;
        background-color: rgba(77, 0, 0, 0.8);
      }
    }
  }
  .GameInfo{
    width: 95%;
    height: 10.5%;
    margin: 0.5% 2.5% 0.5% 2.5%;
    background-color: rgba(0, 0, 0, 0.35);
    display: block;
    word-wrap: break-word;
    
    p{
      margin: 0.5% 0.5% 0% 0.5%;
      width: 99%;
      height: 30%;
      text-align: left;
      text-decoration: none;
      font-family:Merriweather Sans;
      font-size: .75em;
      color: white;
    }
    span{
      width: 99%;
      height: 60%;
      
      margin: 0.5% 0.5% 0% 0.5%;
      text-align: left;
      text-decoration: none;
      font-family:Merriweather Sans;
      font-size: .75em;
      color: white;
      word-wrap: break-word;
      white-space: pre-wrap;
      float: left;
      overflow-y: auto;
      
    }
  }
  .SpecialBets{
    width: 70%;
    height: 5%;
    margin: 0% 15% 0% 15%;
    display: grid; /* Use CSS grid to create the grid layout */
    grid-template-columns: repeat(3, 1fr); /* Create 12 columns */
    grid-template-rows: repeat(1, auto); /* Create 3 rows (you can use specific height values as well) */
    gap: 1%;
    button{
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      font-family:Merriweather Sans;
      text-transform: uppercase;
      color: white;
      &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.25);
        
      }
    }
  }
  .Betting{
    width: 85%;
    height: 57%;
    margin: 0.0% 7.5% 0% 7.5%;
    .FirstPart{
      display: flex;
      width: 100%;
      height: 69.5%;
      button{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        &:hover{
          cursor: pointer;
          //background-color: rgba(255,255,255, 0.35);
        }
        img{
          width: 2rem;
          height: 2rem;

        }
      }
      .Number0{
        position: relative;
        height: 100%;
        width: 6.0%;
        padding: 1% 0% 1% 0%;
      }
      .Numbers{
        position: relative;
        display: block;
        height: 100%;
        width: 86.85%;
        .UpperLowerRow{
          width: 100%;
          height: 31%;
          display: flex;
          .Subpart1{
            height: 100%;
            width: 90%;
            display: block;
            .ThinRow{
              width: 100%;
              height: 22%;
              position: relative;
              display: grid; /* Use CSS grid to create the grid layout */
              grid-template-columns: repeat(11, 1fr);
              grid-template-rows: repeat(1, auto);
              .ButtonPair{
                width: 100%;
                height: 100%;
                display: flex;
                .ThinButton{
                  width: 45%;
                  height: 100%;
                }
                .ThickButton{
                  width: 55%;
                  height: 100%;
                }
              }
            }
            .ThickRow{
              position: relative;
              display: grid; /* Use CSS grid to create the grid layout */
              grid-template-columns: repeat(11, 1fr);
              grid-template-rows: repeat(1, auto);
              left:0;
              top:0;
              margin: 0;
              height:78%;
              width: 100%;
              .ButtonPair{
                width: 100%;
                height: 100%;
                display: flex;
                .ThinButton{
                  width: 45%;
                  height: 100%;
                  display: flex;
                }
                .ThickButton{
                  width: 55%;
                  height: 100%;
                  display: flex;
                }
              }
            }
          }
          .Subpart2{
            height: 100%;
            width: 10%;
            display: block;
            .ThinRow{
              width: 100%;
              height: 23%;
              display: flex;
              .ThinButton{
                width: 32.5%;
                height: 100%;
              }
              .ThickButton{
                width: 67.5%;
                height: 100%;
              }
            }
            .ThickRow{
              width: 100%;
              height: 77%;
              display: flex;
              .ThinButton{
                width: 32.5%;
                height: 100%;
              }
              .ThickButton{
                width: 67.5%;
                height: 100%;
              }
            }
          }
        }
        .MiddleRow{
          width: 100%;
          height: 38%;
          display: flex;
          .MiddleMain{
            width: 90%;
            height: 100%;
            display: block;
            .ThinRow{
              width: 100%;
              height: 19%;
              display: flex;
              .ButtonPair{
                width: 100%;
                height: 100%;
                display: flex;
                .ThinButton{
                  width: 45%;
                  height: 100%;
                }
                .ThickButton{
                  width: 55%;
                  height: 100%;
                }
              }
            }
            .ThickRow{
              width: 100%;
              height: 62%;
              display: flex;
              .ButtonPair{
                width: 100%;
                height: 100%;
                display: flex;
                .ThinButton{
                  width: 45%;
                  height: 100%;
                }
                .ThickButton{
                  width: 55%;
                  height: 100%;
                }
              }
            }
          }
          .MiddleRight{
            width: 10%;
            height: 100%;
            display: block;
            .ThinRow{
              width: 100%;
              height: 19%;
              display: flex;
              .ThinButton{
                width: 35%;
                height: 100%;
              }
              .ThickButton{
                width: 65%;
                height: 100%;
              }
            }
            .ThickRow{
              width: 100%;
              height: 62%;
              display: flex;
              .ThinButton{
                width: 35%;
                height: 100%;
              }
              .ThickButton{
                width: 65%;
                height: 100%;
              }
            }
          }
        }
        //display: grid; /* Use CSS grid to create the grid layout */
        //grid-template-columns: repeat(11, 1fr); /* Create 12 columns */
        //grid-template-rows: repeat(3, auto); /* Create 3 rows (you can use specific height values as well) */
        //gap: 0;
        
      }
      .Rows{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        width: 7.15%;
        height: 100%;
        padding: 1% 0% 1% 0%;
      }    
    }
    .SecondPart{
      width: 85%;
      height: 30.5%;
      margin: 0% 7.5% 0% 7.5%;
      button{
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        &:hover{
          cursor: pointer;
          //background-color: rgba(255, 255, 255, 0.25);
        }
        img{
          width: 2rem;
          height: 2rem;

        }
      }
      .FirstSubpart{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, auto);
        width: 100%;
        height: 47%;
        margin: 0;
        padding: 0;
      }
      .SecondSubpart{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, auto);
        width: 100%;
        height: 53%;
        margin: 0;
        padding: 0;     
      }
    }
  }
  .ChipsDisplay{
    position: relative;
    height: 20%;
    width: 100%;
    margin: 0.5% 0% 0% 0%;
    .Chips{
      width: 80%;
      height: 65%;
      margin: 0 auto;
      align-items: center;
      padding: 0;
      border: none;
      button{
        justify-content: space-around;
        height: 100%;
        width: 10%; 
        padding: 0% 0% 0% 0%;
        background-color: transparent;
        border: none;
        border-radius: 25%;
        img { 
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          object-position: center;
        }
        &:hover{
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      button.clicked{
        background-color: rgba(0, 0, 0, 0.2);
      }
      
    }
    .ManageChips{
      margin:0.5% auto 0.5% auto;
      width: 100%;
      height: 29%;
      display: flex;
      p{
        display: flex;
        width: 27.5%;
        text-align:left;
        align-items: center;
        text-decoration: none;
        font-family:Merriweather Sans;
        color: white;
        padding: 0% 2% 0% 2%;
        margin:0;
      }
      button{
        width:15%;
        height: 100%;
        margin: 0% 2% 0% 2%;
        background-color: #970202;
        border: 2px solid #5a0303;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family:Merriweather Sans;
        color: white;
        &:hover{
            cursor: pointer;
            background-color: rgba(77, 0, 0, 0.8);
        }
      }
    }
  }

  